<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="com.metheora.ThermalCordova"
      version="0.1.0">
    <name>ThermalCordova</name>
    <description>Thermal Printer Cordova Plugin</description>
    <license>MIT</license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/ThermalCordova.js" name="ThermalCordova">
        <clobbers target="ThermalCordova" />
    </js-module>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="ThermalCordova">
                <param name="wp-package" value="ThermalCordova"/>
            </feature>
        </config-file>

        <source-file src="src/wp/ThermalCordova.cs" />
    </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/ThermalCordovaProxy.js" name="ThermalCordovaProxy">
            <merges target="" />
        </js-module>
        <framework src="src/windows/ThermalDotNet.dll" custom="true"/>
    </platform>

</plugin>